<!DOCTYPE html>
<html lang="en">

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>에이원경영</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="stylesheets/style.css">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" href="css/versions.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="css/responsive.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="css/custom.css">

<!-- Modernizer for Portfolio -->
<script src="../js/modernizer.js"></script>

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="host_version">

    <!-- Start header -->
    <header class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="" alt="" />
                    에이원경영
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host"
                    aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbars-host">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">ISO9001
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="/iso9001_sum">개요</a>
                                <a class="dropdown-item" href="/iso9001_step">절차 </a>
                                <a class="dropdown-item" href="/iso9001_ben">혜택 </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">ISO14001
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="/iso14001_sum">개요</a>
                                <a class="dropdown-item" href="/iso14001_step">절차 </a>
                                <a class="dropdown-item" href="/iso14001_ben">혜택 </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">부품소재
                                전문기업 </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="/enterpraise_sum">개요</a>
                                <a class="dropdown-item" href="/enterpraise_ben">혜택 </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">연구소 설립
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="/laboratory_sum">개요</a>
                                <a class="dropdown-item" href="/laboratory_step">설립요건 </a>
                                <a class="dropdown-item" href="laboratory_ben">혜택 </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">조달우수제품
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="/product_sum">개요</a>
                                <a class="dropdown-item" href="/product_ben">혜택 </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->
    <div id="overviews" class="section lb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>개요</h3>

                </div>
            </div><!-- end title -->
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h2>1.개요</h2>
                        <p>■ ISO 인증은 국제표준화기구(ISO)에서 정한 경영시스템 규격에 따라 조직의 적합성을 평가하는 제3자 증명 활동</p>
                        <p> ■ ISO 규격은 품질경영시스템의 ISO 9000 시리즈, 환경경영시스템의 ISO 14000시리즈 및 기타 규격으로 구분</p>
                        <p>■ ISO 9001 요구사항 : PDCA 사이클에서 이 표준의 구조 표현</p>
                        <!--이미지1-->
                        <p>시스템 4.조직상황 5. 리더십 6. 기획 7.지원 8.운용 9.성과평가 10.개선</p>
                        <p>► 시스템</p>
                        <!--이미지2-->
                        <img src="images/iso9001_2.png" alt="" />
                        <img src="" alt="" />
                        <dl>
                            <p>4. 조직상황</p>
                            <p>4.1 조직과 조직의 상황의 이해</p>
                            <p>4.2 이해관계자의 니즈와 기대 이해</p>
                            <p>4.3 품질경영시스템 적용범위 결정</p>
                            <p>4.4 품질경영시스템과 그 프로세스</p>
                            <br>
                            <p>5. 리더십</p>
                            <p>5.1 리더십과 의지표명 </p>
                            <p>5.2 방침</p>
                            <p>5.3 조직의 역할, 책임 및 권한</p>
                            <br>
                            <p>6. 기획</p>
                            <p>6.1 리스크와 기회를 다루는 조치</p>
                            <p>6.2 품질목표와 품질목표 달성 기획</p>
                            <p>6.3 변경의 기획</p>
                            <br>
                            <p>7. 지원</p>
                            <p> 7.1 자원 </p>
                            <p>7.2 역량/적격성</p>
                            <p>7.3 인식</p>
                            <p>7.4 의사소통 </p>
                            <p>7.5 문서화된 정보 </p>
                            <br>
                            <p>8. 운용</p>
                            <p>8.1 운용기획 및 관리</p>
                            <p>8.2 제품 및 서비스 요구사항</p>
                            <p>8.3 제품 및 서비스의 설계와 개발</p>
                            <p>8.4 외부에서 제공되는 프로세스, 제품 및 서비스의 관리</p>
                            <p>8.5 생산 및 서비스제공</p>
                            <p>8.6 제품 및 서비스 불출/ 출시</p>
                            <p>8.7 부적합 출력/ 산출물의 관리 </p>
                            <br>
                            <p>9. 성과평가</p>
                            <p>9.1 모니터링,측정,분석및 평가</p>
                            <p>9.2 내부심사</p>
                            <p>9.3 경영검토/경영평가(management review)</p>
                            <br>
                            <p>10. 개선</p>
                            <p>10.1 일반사항</p>
                            <p>10.2 부적합 및 시정조치</p>
                            <p>10.3 지속적 개선</p>
                        </dl>
                    </div>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end section -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>에이원경영 소개 </h3>
                        </div>
                        <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus
                            faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque
                            penatibus et magnis dis montes.</p>
                        <p>Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis
                            montes.</p>
                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>주요 링크</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="#">a</a></li>
                            <li><a href="#">b</a></li>
                            <li><a href="#">c</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>연락처</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="mailto:#">이메일</a></li>
                            <li>주소</li>
                            <li>전화번호</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->

            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-left">
                    <p class="footer-company-name">All Rights Reserved. &copy; 2020 <a href="#">에이원경영</a>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/custom.js"></script>
    <script src="js/timeline.min.js"></script>
    <script>
        timeline(document.querySelectorAll('.timeline'), {
            forceVerticalMode: 700,
            mode: 'horizontal',
            verticalStartPosition: 'left',
            visibleItems: 4
        });
    </script>
</body>

</html>