<ol class="carousel-indicators">
    <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
</ol>
<div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <div id="home" class="first-section" style="background-image:url('images/main_picture.jpg');">
            <div class="dtab">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 text-center">
                            <div class="big-tagline">
                                <h2>에이원경영</h2>
                                <p class="lead">설명</p>
                            </div>
                        </div>
                    </div><!-- end row -->            
                </div><!-- end container -->
            </div>
        </div><!-- end section -->
    </div>
</div>